@import './reset';

a {
  color: #0366d6;
  text-decoration: none;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.4em;
  color: #525252;
  display: block;
}

pre {
  border-radius: 0.3rem;
  border: solid 0.1rem #0366d6;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  background: transparent;
}

body {
  margin: 0;
}
