<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lunr@2.3.9/lunr.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/search.js"></script>
<script>
    window.store = {
        // get section blog data
        {{ range where .Site.Pages "Section" "posts" }}
        // Permalink as an identifier
        "{{ .Permalink }}": {
            // write all data we need to be displayed in the search list
            "title": "{{ .Title  }}",
            "content": {{ .Content | plainify }}, // Strip out HTML tags
            "url": "{{ .Permalink }}",
            "tags": [{{ range .Params.Tags }}"{{ . }}",{{ end }}],
        },
        {{ end }}
    }
</script>
